<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>444730505204-naa3b8l5s7jip80gbsgobcodbm0mralk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444730505204-naa3b8l5s7jip80gbsgobcodbm0mralk</string>
	<key>API_KEY</key>
	<string>AIzaSyBl37OjznaKLzfNvvYt7Q-7vrplnFVXlv8</string>
	<key>GCM_SENDER_ID</key>
	<string>444730505204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiloloco.Fire-Data-Structure</string>
	<key>PROJECT_ID</key>
	<string>fire-data-structure</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-data-structure.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:444730505204:ios:364f7c42fedc52a8</string>
	<key>DATABASE_URL</key>
	<string>https://fire-data-structure.firebaseio.com</string>
</dict>
</plist>